// =========================================================================
// ========== CSS Reset Styles: Ensure Consistency between Browsers ========
// =========================================================================

// Source: https://www.joshwcomeau.com/css/custom-css-reset/

*,
*::before,
*::after {
  // Applies a natural box layout model to all elements
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  // Default font size
  font-size: 16px;
  // Allows scrolling for mobile
  scroll-behavior: smooth;
  // Enables system light/dark mode
  color-scheme: light dark;
}

body {
  // Line height for dyslexic users: https://www.w3.org/WAI/WCAG21/Understanding/text-spacing.html
  line-height: 1.5;
  // Makes sure page takes up the full viewport
  min-height: 100vh;
  // Default font and fallbacks
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle at top left, #181023, #0b0519);
  color: #c3b3d8;
  // Improves font rendering and visibility
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
  // Removes inline spaces
  display: block;
  // Avoids overflow on images
  max-width: 100%;
}

// Fixes fonts for forms
input,
button,
textarea,
select {
  font: inherit;
}

// Prevents text overflow
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

// Creates new stack context without z-index
// Makes sure modals, dropdowns, and tooltips shows up above other elements
app-root {
  isolation: isolate;
}
